#topHeader{
    background-color: ghostwhite;
    border-bottom: 1px solid silver;
}

#topHeader a{
    color: #34495e;
    font-weight: 600;
    font-size: 0.89rem;
    text-decoration: none;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a{
     font-size: 1.1rem;
     font-weight: 600;
}

/* Start footer   */

.full-footer{
    background-color: #98a0a8;
   
}
.top-footer p{
    color: black;
}
.top-footer a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.top-footer h3{
    color: black;
}

.bottom-footer{
    background-color: #03080e;
}

.bottom-footer p{
    color: white;
}
/* End footer   */